/*
!.gitignore
!README.md
!*.sh
!LICENSE

**/.DS_Store

!prepare_reference/
prepare_reference/*
!prepare_reference/*.sh
!prepare_reference/*.R
!prepare_reference/duplicate_clusters.tsv

!smalltools/

